<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рецепты</title>
</head>
<body>
    <header>
        <h1>Рецепты здоровых блюд</h1>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/exercises">Упражнения</a></li>
                <li><a href="/recipes">Рецепты</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Рецепты здоровых блюд</h2>
        <p>На этой странице вы найдете рецепты полезных и вкусных блюд с подробной информацией о питательных свойствах и калорийности.</p>


        <h4>Запечённая курица</h4>
        <p>Ингредиенты: курица (1,5 кг)	1	шт.
            соль (по вкусу)	1-1.5	ч. ложки
            майонез 	3	ст. ложки
            или сметана 	3	ст. ложки
            чеснок 	3	зубчика
            перец чёрный 	 	по вкусу
            зелень для украшения	 	по вкусу.</p>
        <p>Приготовление: Курицу выпотрошить, удалить оставшиеся перья, срезать лишний жир (по желанию), вырезать сзади жировик, вымыть и обсушить.
            Очистить чеснок.
            Подготовить майонез (или сметану) и специи.
            Включить духовку (установить температуру 180 градусов)..</p>
        <p>Питательные вещества: белки, клетчатка, полезные жиры.
            Каллории: 3 (самое то для поддержания зож)
        <h2>-</h2>
        <h2>-</h2>
        <h2>-</h2>
        <h4>Запечённая курица</h4>
        <p>Ингредиенты: Лапша Удон …200г 
            Перец сладкий …1 шт
            Шампиньоны …200г
            Стручковая фасоль …200г
            Морковь …1шт
            Помидоры …2 шт
            Чеснок …1-2 зуб

            Соус:

            Соевый соус …6 ст л
            Сахар …2 ст л
            Кунжутное масло …1ст л
            Кукурузный крахмал …2 ч л
            Чили</p>
        <p>Приготовление: Перец и морковь нарезаем соломкой. Чеснок измельчаем. Грибы и фасоль (стрелки) у меня замороженные.
            Соединяем ингредиенты соуса.
            Отвариваем лапшу по инструкции
            На разогретой сковороде обжариваем чеснок, перец, помидоры и морковь примерно 3 минуты.
            Добавляем грибы и фасоль. Жарим 4-5 минут. Добавляем соус и тушим ещё 3 минуты.
            Соединяем лапшу с соусом.
            Посыпаем при подаче зеленым луком, жареным арахисом или кунжутом. </p>
        <p>Питательные вещества: белки, клетчатка, полезные жиры.
            Каллории: 100 (низко калорийно = +)
        </p>
    </main>

    <footer>
        <p>&copy; 2025 Здоровый образ жизни</p>
    </footer>
</body>
</html>